
// ___Features page

section.section_FeaturesKutubk {

    section.section_FeaturesKutubk {
        background-color: #c6f4fe;
        padding: 22px;
        margin: 25px 0;
    }
      
    .text-imageFeatures .image_Featured img {
        height: 75px;
        margin-bottom: 25px;
    }
      
    .text-imageFeatures p.SmallText {
        font-size: 17px;
    }

}

